/* Extra small devices (portrait phones, less than 576px)  */
@media (max-width: 575.98px) { 
    nav{
        flex-direction: column;
        
    }
    .banner-section{
        flex-direction: column;
        margin-top: 100px;
    }
    .menu-items{
        flex-direction: column;
    }
    .banner-info{
        text-align: center;
        width: 100%;
    }

}


